[2018-11-23 09:21] henhuy opened #1 "Defining databases in WAM"
Within this issue, I want to discuss multiple minor ideas about database integration in the WAM.

1. Engine Name:
Right now,WAM  _settings.py_ loads `DEFAULT` database config from `CONFIG_PATH` `[DATABASES]` section. Afterwards, `'django.db.backends.'` is added in front of `ENGINE` name. The idea behind that, was to allow one setup for both Django ORM and SQLAlchemy (I connect to same db from both

[2018-11-26 11:59] nesnoj commented on #1
I'd like to avoid magic stuff like this as well. But I wasn't aware of the double-ORM-advantage the short version brings. But I guess this doesn't work for `postgis` as used in stemp-abw anyway?

Agree

Generally yes, but I there will definitely be apps which do not use the default DB for django's model-related tables. For example in your app, @jh-RLI, right? if I'm not mistaken, @jh-RLI used OEP

[2018-11-26 12:24] henhuy commented on #1
You are right! So, this approach isn't helpful - I will change settings to ask for full-engine-name.

As I understood, @jh-RLI doesn't need djangos ORM for his models by now (he will use SQLAlchemy instead). But with supposed database routers, he would be able to do so for his app. **BUT**, the docker-wam cannot automatically migrate to different databases _by now_ - this has to be done by hand. I

[2018-11-26 12:34] jh-RLI commented on #1
@nesnoj yes you are right. Currently my app_eGoVIS only depends on the ORM derived from the OEP tables.
@henhuy I also agree with the subjects 1 and 2 ( my app also uses django.contrib.gis.db.backends.postgis). About 3. it seems like you already know my answer :). But i thought I still need to use Django ORM for the admin page related stuff.
I think what I really need is just the connection to the

[2018-11-26 14:48] henhuy commented on #1
Pushed new engine name implementation -> 8ad8e54ec01825a7a1e11d88f83c53cb0bd419f7
Will set up wam to use it as well.

[2018-11-28 08:48] henhuy opened #3 "Foundation master style not compilable"
Hey @bmlancien,

I wanted to integrate foundation master styles into wam project, but I cannot compile it.
Error message says:

This _app.scss_ is missing - maybe you forgot to add it to the git repo?
Can you add it and push?
THx

[2018-11-29 09:49] henhuy commented on #3
Thx for calling me!
Now I found correct branch "wam" for foundation style.
I will add it right away.

[2018-11-29 09:49] #3 closed, assigned to henhuy

[2018-11-30 09:27] nesnoj opened #6 "standard for docstring format"
Which docstring format do we want to use? There're not many of them yet so it does make sense to discuss this now. I favor the [numpy](https://github.com/numpy/numpy/blob/master/doc/example.py) style over reST, Google or Epytext. In recent projects, we used Sphinx extension napoleon to allow for more datatypes ([example](https://github.com/openego/eDisGo/blob/a301516e3249545a60b80991187b30c733abc1

[2018-11-30 09:40] nesnoj commented on #6
cheers!

[2018-11-30 09:44] henhuy commented on #6
I'm fine with numpy.
Do you always have to use

when using napoleon? No simple `text : str`?
Anyway - for me it's okay too! Main thing is, that we agree on a standard...

[2018-11-30 09:45] #1 closed, assigned to Ludee, nesnoj, henhuy, jh-RLI

[2018-11-30 09:52] nesnoj commented on #6
No, for buildin-types you can use `text : str` as well which I try to stick to. Only for external packages or references within the package itself classifiers such as `:obj:` or `:class:` are needed.

Ok, then numpy is the new standard.

[2018-11-30 09:53] #6 closed, assigned to Ludee, henhuy

[2018-11-30 12:14] henhuy opened #7 "Integrate RLI metadata standard v1.4 to SourceModel and -View"
I would be nice to use JSON field holding metadata in source model.
An extra widget-template could be used to show metadata-json nicely!

Refs to #4

[2019-01-02 07:16] nesnoj opened #9 "Remove dependency UserSession from WAM"
In sessions, you import UserSession from stemp MV:

https://github.com/rl-institut/WAM/blob/0591e455cb62435c9025cf4dcdd5928b1662cf98/wam/sessions.py#L1

I'd like to use WAM's sessions module so I'd really appreciate if you removed this dependency.
Thank you!

[2019-01-03 09:00] henhuy commented on #9
I'm right in the middle of changing my sessions.
Next push will solve it.

[2019-01-03 09:40] nesnoj commented on #9
Cheers :+1:

[2019-01-03 13:40] #9 closed, assigned to henhuy

[2019-01-16 10:38] nesnoj opened #10 "Move source highlight JS to WAM"
Please add the source highlight JS to WAM, you can find the snippet in [this](https://github.com/rl-institut/WAM_APP_stemp_abw/blob/e5f010ade6b6a83f72c772b8da39de60d544abc6/static/stemp_abw/foundation/js/app.js) file starting at **line 42452** (unfortunately the file is too lange to be shown on github). Dunno if additional JS lib imports are required.

[code]

A single source is highlighted using

[2019-01-16 12:07] henhuy commented on #10
Implemented for source.
Changed url to use simple id: `.../<APP>/sources/6`

[2019-01-16 12:14] henhuy commented on #10
Source or category can be highlighted.
Changed url a bit. Try with:
`.../<APP>/sources/source-1`
`.../<APP>/sources/category-1`

[2019-01-16 13:40] nesnoj commented on #10
482692308bb39e678628317ac9eb692e3d2733b5 removes superfluous jQuery var.
Caution: Works with recent foundation versions only, may cause problems with older versions.
Tested with current master https://github.com/zurb/foundation-zurb-template/tree/878b7ff28e24a4ad5b3508420d2297fcc6f2c90e

[2019-01-31 14:32] jh-RLI opened #11 "Style templates for WebMaps (css/foundation:precompiled css?)"
In order to create something like a corporate design for any WAM-App(App with Map) the goal is to create basic style templates.

- It should be simple to find, integrate and modify them.
- Frondend Dev. might be needed
- Good example WebMap frontend to derive first templates: https://github.com/rl-institut/WAM_APP_stemp_abw
- Example templates could be: see stemp_abw(map size, frames, navigation m

[2019-02-07 13:46] jh-RLI commented on #11
- The templates will be created with the [Django template language.](https://docs.djangoproject.com/en/2.1/ref/templates/language/)
    - [ ] create template-tag naming conventions (like footer, header, ...)

- Templates wich fulfill basic requirement (like footer/header/navbar) sould be available for all apps.
   - WAM/templates = all apps
   - WAM/APPNAME/templates/APPNAME = just inside an app

[2019-02-25 12:27] henhuy opened #12 "Template loading order"
Right now, templates are tried to be loaded in this order:

1. wam/templates/
1. wam/stemp/templates/
1. wam/stemp_abw/templates/
1. ... (all wam-apps)
1. django default templates
1. ...

Thus, a template in stemp_abw which has same name as a template in stemp will not be loaded, but the stemp template instead...
Possible solutions:
* Nest create "widgets" folder into app_name/templates/app_name/

[2019-02-26 14:55] 4lm opened #13 "Info of WAM_APPS is loaded from ENV and not from config file"
Hi @henhuy, as spoken, as short reminder as an issue. Info of WAM_APPS is loaded from ENV and not from the config file.

[2019-02-27 12:02] henhuy commented on #11
waits for #12

[2019-02-27 12:22] henhuy opened #14 "User sessions per app not supported"
Right now only one user session is supported. Thus, if an app creates a session, other app cannot add one for itself...

Solution: UserSession as dict holding app as key.

[2019-02-27 12:24] henhuy commented on #14
Fixed with  f7754ea705596ba01c44e14002c61726da57f32d

[2019-02-27 12:24] #14 closed, assigned to nobody

[2019-03-05 19:59] nesnoj commented on #7
I tried to add a sample source by creating a JSON via RLI's Meta-Tool. It's added, but in the sources list it's not correctly displayed (see screenie below).

According to the template
https://github.com/rl-institut/WAM/blob/ccca3885d6b5cff13d582dfa58164a8fad790c6e/meta/templates/meta/source_list.html#L8
the `author` property seems to be used for display a list element. Although it violates the [v

[2019-03-05 20:23] nesnoj opened #16 "Add source in meta: Dropdown for app instead of char field"
It's a little cumbersome to type the app name every time you add a new source. We could simply add a new model for the apps and use a ForeignKey (the same way as when selecting a category for a source).

I thought of adding a PR but you maybe want to connect this to the list of apps registered in the WAM to make it all of a piece, @henhuy?

[2019-03-11 14:42] nesnoj commented on #7
Any clues, @henhuy?

[2019-03-12 10:02] henhuy commented on #7
You were right - metadata template and model were "broken".
I changed code to show some information - maybe we can think about what to show there together.
Note: I used a new json querying package "jmespath" (very cool!) to get information from metadata. So you have to install this one, to maek it work.
Hope this helps!

[2019-03-13 10:39] nesnoj commented on #7
Holy cow, that new package looks quite helpful.
Yea sources list works now, thank you! :+1:

[2019-03-13 10:40] henhuy commented on #7
Yes - I stumbled upon this package at https://realpython.com/python-refactoring/#4-handling-complex-dictionaries-with-query-tools and find it very cool indeed!

[2019-03-13 10:42] nesnoj commented on #10
Currently not working, e.g. `<BASE_URL>/sources/#source-1`
The `highlight_id` is None in the view:
https://github.com/rl-institut/WAM/blob/845c5a8964fd32024d21843ddcfa02f5354ab17c/meta/views.py#L69

[2019-03-13 11:00] henhuy commented on #10
Url-format is now:
<BASE_URL>/sources/?source=1

[2019-03-13 11:03] nesnoj commented on #10
Ah, this seems to have changed in the last refactoring. Cheers!

[2019-03-13 11:03] #10 closed, assigned to henhuy

[2019-03-14 09:53] 4lm opened #18 "Write new section: update conda env"
I had to update my conda env today and would like to document this workflow, I think it makes most sense in the getting started settings as side note, for this I would like to wait for #17 getting merged.

The worklow is easy:

- Activate env:
`conda activate django`

- Update
`conda env update -f=environment.yml`

[2019-03-22 14:16] jh-RLI opened #20 "Add Options Section to config file (DB connection)"
Django Implements the Options field. With this field you can change the default schema which is public in postgresql - to another schema. I tried to insert the OPTIONS to my config file but i get a type error.
I found a workaround for that by just inserting the line after the config file is loaded in the settings.py.

How i tested it:
[DATABASES]
    [[DEFAULT]]
        ENGINE = django.contrib.gis

[2019-03-25 09:18] henhuy commented on #20
Hey Jonas,

but this option would move ALL tables to the specified schema.
This is not an option for the WAM-server.
But maybe we could implement the option field to have it locally (not prio 1, I would say)

Why do you want to have it? You could simply add a new database locally...
(this is recommended - schema-like databases are possible, but not always useful in the end).

[2019-03-29 16:59] henhuy commented on #18
#17 is merged. Feel free to add your tip!

[2019-03-29 17:04] henhuy commented on #13
I tried to change it, but it is not possible with our docker setup as the config file is mounted into container and thus, not present when docker image is built. So unfortunately, this cannot be changed. Would have been nice, but I think it's not so important...
So I will close this issue now.

[2019-03-29 17:04] #13 closed, assigned to henhuy

[2019-04-03 10:52] nesnoj opened #21 "Sources or categories cannot be deleted if created via app"
Using the Django admin panel, I tried to delete both a source and a category which were created by an app (stemp) but none of them is deleted. Instead, I get a 500.

Digging into the DB table `django_admin_log` it seems that only objects which were created by an app show this behavior (col `change_message` is empty) - objects created via the admin panel (col `change_message` not empty) are not aff

[2019-04-03 10:59] nesnoj opened #22 "Source categories in meta app"
I added a list of relevant source categories (meta app) based on the [OEP categories](http://openenergy-platform.org/dataedit/schemas) and [govdata categories](https://www.govdata.de/) (didn't use all of those):

- Umwelt
- Grenzen
- Gesellschaft
- Regularien
- Wetter
- Emissionen
- Wirtschaft
- Flexibilitäten
- Speicher
- Verkehr
- Energieverbrauch
- Energieerzeugung
- Energienetze

Any categorie

[2019-04-03 22:23] Bachibouzouk opened #23 "There is no visible CI in place"
We could (should?) setup CI for the WAM repository and begin to lint the code at first. Then we can slowly implement tests.

I propose that we choose one of
* https://travis-ci.org/
* https://circleci.com/ (I worked with this one so it might be more easy to setup)

@rl-institut/wam-team : let me know which one you prefer in the comments below :)

The easiest test to implement are on the `models`,

[2019-04-04 06:55] christian-rli commented on #23
I don't have a preference, since i'm completely new to continuous integration, so i'll go with whatever the majority here prefers. On another note, I highly approve of the initiative.

[2019-04-04 07:08] nesnoj commented on #23
Thanks for getting back to this. Although I've never set up testing, I prefer travis as it is used in other projects such as [oemof](https://github.com/oemof/oemof) and [ding0](https://github.com/openego/ding0).

[2019-04-04 07:17] nesnoj commented on #23
@boltbeard has some recent experience with travis, so he might be able to help out if we get stuck..

[2019-04-04 07:40] Bachibouzouk commented on #23
@nesnoj : as oemof uses travis, it might make more sense to implement it then. I'll wait a bit more for others feedbacks before I start implementing it :)

[2019-04-04 12:33] jh-RLI commented on #23
I dont´t have a preference and also no experience with testing. So same for me: I will be happy to go with whatever the majority here prefers.

[2019-04-04 14:30] boltbeard commented on #23
Typically there were very very stupid reasons I chose travis:

- Travis was already being used in other open_eGo repositories (oep) which is handled by a pair of good IT specialists in Magdeburg that we are in contact with.
- Travis is based in Berlin, so their servers are mostly close to where we are, so lesser problems with data transfer and GDPR (not that it would affect ding0 ever)
- Travis' s

[2019-04-04 15:42] Bachibouzouk commented on #23
Thanks @boltbeard :)

For what it is worth: one of my friend told me that she used Travis because it was easier to find how to use it with conda than for CircleCI.

@rl-institut/wam-team - If no one rises against this decision, I think I'll implement Travis (for me personally it is a plus as I get to learn something new).

[2019-04-09 09:07] 4lm commented on #23
I used Travis in small projects and it worked for me. They lately seem to have problems. They were bought back in January. Many employees have been fired or resigned since then. They seem to have infrastructure problems, e. g. last week or so they suffered a longer outage.

https://devclass.com/2019/03/29/travis-ci-users-left-hanging-as-platform-lies-down/
https://www.heise.de/developer/meldung/Id

[2019-04-10 14:45] Bachibouzouk opened #26 "Extend linting test coverage to utils folder"

[2019-04-10 14:46] Bachibouzouk opened #27 "Extend linting test coverage to user_sessions folder"

[2019-04-10 14:46] Bachibouzouk opened #28 "Extend linting test coverage to templatetags folder"

[2019-04-10 14:47] Bachibouzouk opened #29 "Extend linting test coverage to meta folder"

[2019-04-10 14:48] Bachibouzouk opened #30 "Extend linting test coverage to db_apps folder"

[2019-04-10 14:50] Bachibouzouk opened #31 "Add integration tests"
There is currently no integration tests setup. I propose to place them in the folder `tests`.

[2019-04-10 14:51] Bachibouzouk opened #32 "Configure Travis with conda"
Potentially helpful ressources :
https://gist.github.com/zshaheen/fe76d1507839ed6fbfbccef6b9c13ed9
https://docs.travis-ci.com/user/build-stages/

[2019-04-10 14:53] Bachibouzouk opened #33 "There is no LICENSE file for the project"
@Ludee @christian-rli , I presume it would be AGPL3?

[2019-04-10 14:58] Bachibouzouk opened #34 "There is no CHANGELOG.md file to the project"
This is helpful to list the changes in the different versions. We can discuss of its structure here.

[2019-04-10 15:03] Bachibouzouk opened #35 "All team member can merge to master without a review from another developper"
It could be a safe practice to forbid direct push to master and to require an approval from an another person before being able to merge to master from a pull request (@Ludee, @christian-rli - this can be set in the repository's settings but I don't have the admin rights it is).

[2019-04-10 15:03] christian-rli commented on #33
Yes. For that we will need to make sure to reference the source code within the site somewhere to comply with the license: "source code must be distributed along with web publication" https://tldrlegal.com/license/gnu-affero-general-public-license-v3-(agpl-3.0). I don't think that this is the case right now.

[2019-04-10 15:15] christian-rli commented on #35
I adapted the settings. Should i set the default branch to dev while I'm at it? What's the convention there?

[2019-04-10 15:18] nesnoj commented on #33
Agree on AGPL3.
Good point, @christian-rli. According to the AGPL3 fulltext, a link to this repo should be sufficient.
But does every app that uses the wam need this link?
If so, it could be included in the legal statement / contact page as it seems to be the only common page included in all apps (at least should be included).

[2019-04-10 15:27] christian-rli commented on #33
As far as I understand, there should be a link for every app that is also under AGPL, which is probably not the case for most apps (but only due to a lack of diligence, I suppose). In any case I don't think it hurts, when it's always linked. Only we need to make sure that there is no confusion between source code/license of the app and WAM core itself.

[2019-04-10 15:40] nesnoj commented on #35
There's no real convention yet as @henhuy was the master of maintenance till now.

Seems to be the right time to get settled :). I propose to use a branching model similar to the one by [Vincent Driessen](https://nvie.com/posts/a-successful-git-branching-model/) (although I don't think we need a separate release branch yet).
dev should be the default and master only updated for releases and hotfix

[2019-04-10 15:48] christian-rli commented on #35
Ok. I set the dev branch as default.

Driessen is our institute's standard branching model, so I'd definitely go with that. And I agree with your thoughts on the approvals, although I do not think it to be much of a problem, since not many people will dare to touch the WAM code anyhow.

[2019-04-10 15:54] nesnoj commented on #35
Yea, guess so.

[2019-04-10 16:11] nesnoj commented on #33
Ok, so in the [imprint](https://wam.rl-institut.de/impressum/) we need something like

1. "Die hier bereitgestellte Webanwendung verwendet die Software "Web Application & Maps" (WAM) des Reiner Lemoine Instituts, deren Quellcode Sie [hier](https://github.com/rl-institut/WAM/) einsehen und herunterladen können (GNU AGPL 3.0)."

2. Ggf. "Die hier bereitgestellte Webanwendung steht unter der Lizenz X

[2019-04-25 12:13] Bachibouzouk opened #38 "Driessen workflow is not in place"
As @nesnoj suggested in #35, it would be good to implement the [Driessen workflow](https://nvie.com/posts/a-successful-git-branching-model/).

The main philosophy and steps could be summarized in a CONTRIBUTE.md file

- [x] create a CONTRIBUTE.md file (in #39)
- [x] merge `master` into `dev` as there are many commits apparts right now
- [x] create the first tag on master

[2019-04-25 15:26] Bachibouzouk commented on #26
Closed by #40

[2019-04-25 15:26] #26 closed, assigned to nobody

[2019-04-25 15:41] Bachibouzouk commented on #27
Closed in #41

[2019-04-25 15:41] #27 closed, assigned to nobody

[2019-04-25 16:25] Bachibouzouk commented on #28
Closed by #42

[2019-04-25 16:25] #28 closed, assigned to nobody

[2019-04-25 16:25] Bachibouzouk commented on #29
Closed by #42

[2019-04-25 16:25] #29 closed, assigned to nobody

[2019-04-26 09:01] Bachibouzouk commented on #33
@nesnoj - could you modify the imprint using the branch of #44? I am not sure what you mean by

[2019-04-29 13:34] Bachibouzouk commented on #34
Closed by #43

[2019-04-29 13:34] #34 closed, assigned to nobody

[2019-04-29 14:12] Bachibouzouk opened #45 "There is no visible Travis build status in the README.md"
@christian-rli  you have the rights to perform this :
https://help.github.com/en/enterprise/2.16/admin/developer-workflow/continuous-integration-using-travis-ci

[2019-04-29 15:01] Bachibouzouk commented on #33
Closed by #44

[2019-04-29 15:01] #33 closed, assigned to nobody

[2019-04-29 15:04] christian-rli commented on #45
Added Markdown from Travis-CI like described [here](https://help.github.com/en/enterprise/2.16/admin/developer-workflow/continuous-integration-using-travis-ci).

[2019-04-29 15:04] #45 closed, assigned to christian-rli

[2019-04-29 15:42] nesnoj opened #47 "RTD documentation for apps"
There're WAM docs in place [on RTD](https://wam.readthedocs.io) that cover the WAM itself without apps or API. Now I'd like to add one for my app.

I created some sphinx [docs](https://stemp-abw.readthedocs.io) and want the API to be included. Usually, for packages you (or RTD) create it using `sphinx-apidoc` pretty straightforward or it is invoked automatically by including the sphinx.autodoc mod

[2019-04-30 07:16] christian-rli commented on #47
I have no objections re packaging, but no hints either.

[2019-04-30 08:58] Bachibouzouk commented on #47
Could [django-sphinxdoc](https://readthedocs.org/projects/django-sphinxdoc/) help? I unfortunately didn't work with sphinx and standalone django apps before :(

[2019-04-30 09:00] 4lm commented on #47
Good idea, making the WAM installable via setup.py, we than could make it even installable as PYPI-Package! I have only little experience with setting up setup.py's.

No objections. No hints.

Don't know of any viable alternatives, going the setup.py route seems the way to go.

No.

[2019-05-01 21:46] Bachibouzouk commented on #38
closed with #48

[2019-05-01 21:46] #38 closed, assigned to Bachibouzouk

[2019-05-01 21:47] Bachibouzouk commented on #35
@christian-rli has taken care of this issue, now one review is required to merge into master or dev

[2019-05-01 21:47] #35 closed, assigned to nobody

[2019-05-01 21:50] Bachibouzouk commented on #23
Travis is active for linting tests on both `dev` and `master` since #48 , @christian-rli added the build gif in 6d74b59c2743dfc9c4b439b40d6b29b98b03f3e6, I therefore close this issue.

[2019-05-01 21:50] #23 closed, assigned to nobody

[2019-05-01 21:53] Bachibouzouk commented on #12
A solution for that could also be to add the name of the app in front the the template name,

[2019-05-02 09:08] nesnoj commented on #12
Yes, this should work but will lead to long, bulky names such as `an_advanced_super_app-layer_region_select.html`. Furthermore, if app developers do not follow the naming rules (I admit it's quite unlikely that two devs are this nasty ;) we get back to the same problem..

[2019-05-02 10:26] nesnoj opened #49 "Packaging and distribution"
To allow for proper distribution, versioning, meta etc. it'd be great to create a wam package on [PyPI](https://pypi.org).

Tasks (feel free to amend if I missed something..):
- [ ] Define package name
- [ ] Add setup.py and make sure [requirements](https://docs.python.org/3.7/distutils/) are fulfilled
- [ ] Rename app `wam`
- [ ] Release on PyPI
- [ ] Write a "How-to-release" (large parts can be

[2019-05-02 10:26] nesnoj commented on #47
Thanks for the comments. I'll create a setup.py in a new branch soon. New issue: #49

@Bachibouzouk django-sphinxdoc seems to be for integration of docs into the django project i.e. providing our docs on the WAM server - I like this idea, we could talk about it again later, for now I'd leave it on RTD..

I leave this open until we've found and documented a proper solution..

[2019-05-03 11:22] nesnoj opened #50 "App naming convention and import issues"
Hey @rl-institut/wam-team, we need to talk ;).

For historical reasons, the app repos are named `WAM_APP_<NAME>` which is now the (implicit) naming convention. At least in the v0.1 release's [.gitignore file](https://github.com/rl-institut/WAM/blob/release-0.1/.gitignore#L7) those dirs are excluded from version control to prevent accidental adding of app files. Contrary, the current docs say you [

[2019-05-03 19:52] Bachibouzouk commented on #50
Thanks for starting the conversation @nesnoj ! I need to do a bit of reading before I jump in the discussion :)

[2019-05-04 08:28] christian-rli commented on #50
Thanks for bringing this up @nesnoj . I would like to discuss this as a group on Tuesday. I'm going to send out invitations to you.

[2019-05-07 14:51] christian-rli commented on #49
packaging name: django-wam

[2019-05-07 14:55] Bachibouzouk commented on #49
`core` +1

[2019-05-17 15:51] nesnoj opened #51 "Session error when using apps parallel"
At today's workshop, participants had session errors (session not found, debug screen) when using apps parallel. It occured when trying to access the StEmp MV app after having used the StEmp ABW app.
We need to fix this asap (23th of May at the latest!).

[2019-05-21 10:21] nesnoj commented on #51
Talking to @henhuy revealed that this seems to be a bug in the MV app and not caused by parallel usage.
I will test it nevertheless.

[2019-05-21 16:41] nesnoj opened #52 "Release 0.1 not working on server"
I tried to update **WAMdev** to the latest release 0.1 which throws
[code]
It worked before at a8e6db75e9c20045c641162d97984817d911661b (for full changelist of release 0.1 since this commit see [here](https://github.com/rl-institut/WAM/compare/a8e6db75e9c20045c641162d97984817d911661b...release-0.1#diff-b7cb75ca59993a879e29bed8cd8469b8)).
@Bachibouzouk: In 8bf75947ca842c64d51934f44e33fb3850fac472 y

[2019-05-21 22:58] Bachibouzouk commented on #52
@nesnoj : I did that to avoid duplicates of requirements and to allow a user to install with pip or with conda. I propose a fix in #53

[2019-05-22 08:23] nesnoj commented on #52
Sounds reasonable!

I will test your fix right now.

[2019-05-22 09:23] nesnoj commented on #52
Works out, thank you! I merged it.

I updated the WAMdev and will update WAMprod tonight.

[2019-05-22 09:23] #52 closed, assigned to henhuy

[2019-05-22 09:25] nesnoj commented on #52
Should we merge those fixes into 0.1?

[2019-05-22 09:35] Bachibouzouk commented on #52
Now we make 0.1.1 ;)
We should also merge it in dev

[2019-05-22 14:08] nesnoj opened #56 "Move app icons from WAM to apps"
App icons for the landing page are located in the WAM repo in [`static/img/`](https://github.com/rl-institut/WAM/tree/9864b7adf96e86ca9cbe14b1d2fcc6d183c6a059/static/img), the path is specified in each app's `app.cfg` ([example](https://github.com/rl-institut/WAM_APP_stemp_abw/blob/34181461ad10aeaa0e202519ea2126b128056d87/app.cfg)).
This leads to unnecessary WAM updates (-> downtimes, hotfixes, ..

[2019-05-22 15:11] nesnoj commented on #51
All apps are using the same session/cookie but the data is [app-specific](https://github.com/rl-institut/WAM/blob/9864b7adf96e86ca9cbe14b1d2fcc6d183c6a059/user_sessions/sessions.py#L12).
We're safe :)

[2019-05-22 15:11] #51 closed, assigned to nesnoj, henhuy

[2019-05-23 09:36] 4lm commented on #56
Sounds good! I support this!

[2019-05-23 12:40] Bachibouzouk commented on #56
Me too

[2019-05-23 13:23] henhuy commented on #49
In my opinion, making the wam a python package isn't very useful.
As far as I know, django apps are packaged, but not the core itself?!

What would be the workflow?
1. Install core via pip
1. How to add app to the core afterwards? In order to do so, one would have to edit installed package manually.

In my understanding, providing Dockerfile and docker-compose.yml is the way to provide easy setup

[2019-05-23 13:44] henhuy commented on #49
Considering #47 maybe this is indeed the easiest way to create a simple setup.py to enable RTD to build WAM and apps to create the API (I will check if there are other workarounds).

But I still see no advantages for other users when adding to PyPI...

[2019-05-23 13:53] henhuy commented on #56
yes - this should be changed!
I can do the changes...

[2019-05-23 14:24] nesnoj commented on #56
Great! But changes must not be merged earlier than tomorrow afternoon (after the WS)

[2019-06-24 14:59] nesnoj opened #58 "Improve landing page"
The landing page could be improved by

- [ ] using a regular grid layout
- [ ] adding a short description per app (preferably contained in each app, related: #56)
- [ ] adding more info such as "who we are", "what's WAM about?", ...

[2019-06-26 11:28] nesnoj opened #59 "Include link to WAM landing page in all apps"
I always share the direct link to my app with interested people. It'd help the WAM to gain more visibility if each app had a link to the main WAM page. What do you think?

As most apps have a different layout, this needs to be done manually.

- [x] StEmp ABW ([example code](https://github.com/rl-institut/WAM_APP_stemp_abw/blob/e092adb97eeedde92efed0a81168ae0cb1c9b419/templates/stemp_abw/navigation

[2019-06-26 11:41] nesnoj opened #60 "Add down-for-maintenance page"
Whenever the WAM is down for maintenance, the user gets a 502. There's a need for a "down for maintenance" page.
In most cases, the WAM docker is down during updates etc. so the solution needs to be on webserver level.

@henhuy Any ideas/hints?

[2019-06-26 11:51] nesnoj opened #61 "Add feedback form view"
I'd like to have a form integrated into the WAM which can be integrated into each app to provide a quick way for users to give feedback.
The feedback could be stored in the DB or - my preferred option - sent via mail to an app-specific defined admin.

@henhuy Does the WAM server have a SMTP server running for outgoing mails?

**EDIT:** Or can we use RLI's SMTP for this purpose?

[2019-06-26 13:03] christian-rli commented on #59
I agree. A link doesn't hurt. It helps.

[2019-06-28 11:45] nesnoj commented on #61
Better way: Use mail account of RLI mail server, e.g. wam@rl-institut.de via SMTP/IMAP

[2019-06-28 12:03] nesnoj commented on #61
Ok, as agreed I'll check this..

[2019-07-02 12:33] nesnoj commented on #61
Solution proposal in #65

[2019-07-02 12:33] #61 closed, assigned to nesnoj, henhuy

[2019-07-02 12:54] 4lm commented on #60
- Or maybe rolling updates with docker swarm (swarm would have to be implemented first): https://container-solutions.com/rolling-updates-with-docker-swarm/

- Or (very simple) on domain level a temporary redirect to a static status/maintenance page (maintenance.wam.rl-institut.de or status.wan.rl-institut.de) - could be hosted on netlify.com - with this solution even the server can go down and we

[2019-07-02 17:56] nesnoj opened #66 "InfoButton reveal: Foundation's class grid-x destroys layout"
In the reveal triggered by the [`InfoButton`](https://github.com/rl-institut/WAM/blob/e0f35d3feb42e80e34f492bb3059a2e74d7f3583/utils/widgets.py#L36), the markdown content is rendered inside a div with Foundation's `grid-x` class:

https://github.com/rl-institut/WAM/blob/e0f35d3feb42e80e34f492bb3059a2e74d7f3583/templates/widgets/info_button.html#L1-L11

This destroys parts of the layout of the HTML

[2019-07-02 18:12] nesnoj commented on #66
See PR in #68

[2019-07-02 18:28] nesnoj opened #69 "Add 404 page"

[2019-07-02 19:58] nesnoj commented on #69
Proposal: PR #70

[2019-07-02 20:08] nesnoj commented on #60
Sounds perfect but I don't think there's time for this right now.

Good idea, does it provide a maintenance page even if the entire server is down?

In general:
We either could go for a page that works even if the entire server is down or just a page which shows up if the WAM dockers are down. I think the 2nd one would be sufficient right now.. but if there's a free service that serves a custom si

[2019-07-03 07:01] nesnoj commented on #20
@jh-RLI Can we close this one?

[2019-07-03 07:28] nesnoj opened #71 "jQuery and fonts are not defined on WAM pages"
JS throws error on all WAM pages:

![wam_jquery_bug](https://user-images.githubusercontent.com/15910173/60572126-33f5ec00-9d75-11e9-8286-2186096adde3.png)

[2019-07-03 10:49] jh-RLI commented on #20
Yes, sqlalchemy is used to query other db/schema.

[2019-07-03 10:49] #20 closed, assigned to nobody

[2019-07-03 12:00] nesnoj opened #72 "Traffic analysis"
To have some stats on which apps are used how often etc. it'd be helpful to have some analyzer in place to crawl the access.log.

I see the following options:
1. Outside Django, e.g. with powerful [AWStats](https://awstats.sourceforge.io/), served on a subdomain
2. In Django e.g. using a django middleware ([how to write you own](https://www.pythoncircle.com/post/439/server-access-logging-in-django

[2019-07-03 15:25] #66 closed, assigned to nesnoj, henhuy

[2019-07-03 16:50] #69 closed, assigned to nobody

[2019-07-03 23:57] nesnoj commented on #60
502 test page for caddy was implemented successfully. Next step is to give it a nice design (use 404 page introduced in #70)

[2019-07-04 07:07] nesnoj opened #74 "App settings interfere"
If more than one app use the same settings variables, they conflict (last loaded app rules).

Current problem in FRED: https://github.com/rl-institut/WAM_APP_FRED/issues/49

Reason: The WAM reads the settings.py of each app which mays contain module config stuff like this one. So it's not a per-app config but a global (module) one.

This is a general WAM issue we have to solve!
Ideas, @henhuy ?

[2019-07-04 07:38] henhuy commented on #74
I will write a WAM-function for adding new packages, which will check for duplicates.
This function should be called in settings.py or app_settings.py (not sure yet).

[2019-07-04 09:52] Bachibouzouk opened #76 "Add i18n support"
We should look for solution to separate the languages in a clean way. This issue is not urgent.

[2019-07-04 09:58] henhuy commented on #71
The error is due to different folder structures in foundation styling and our WAM.
The fonts path is given relatively. In foundation it is "../../../fonts" in our WAM it is "../../fonts".
This error is very annoying...

In WAM_APP_stemp_MV app, I manually changed paths in sass file and compiled it myself - but I think this is very error-prone.

Another solution would be to provide the fonts static

[2019-07-04 11:27] nesnoj commented on #71
Uh, I'd try to avoid the solution in #77 if we can!
I do not understand why it's working in the apps but not in the wam? Is it because of the additional app subdir in static?

[2019-07-04 13:12] bmlancien commented on #71
@henhuy I don't understand how this could change anything for designing if it is set in all <head> sections of each page?

[2019-07-04 15:34] nesnoj commented on #74
Your PR solves the multiple app problem but we still have the settings' var overwrite problem.
@henhuy Do you have a good idea to solve this without workarounds for single apps (e.g. for leaflet as mentioned in https://github.com/rl-institut/WAM_APP_FRED/issues/49) ?

As packages such as *django-leaflet* expect specific config variables in the settings, we neither can put the app-specific vars e.g

[2019-07-04 23:00] nesnoj commented on #74
I implemented a solution for this specific *django-leaflet*-related issue in https://github.com/rl-institut/WAM_APP_stemp_abw/pull/66 using a simple settings override. Everything's fine for now.

But this does not not solve the general problem of conflicting settings. Right now this makes the WAM quite fragile and we cannot detect those problems via automated tests, only manually.

Also, there's t

[2019-07-06 23:43] nesnoj commented on #60
Created and uploaded!

Whenever a 502 is raised (i.e. the dev or prod docker is unreachable because of reboot, recreation etc.), Caddy now serves the following page:

![wam_502_page](https://user-images.githubusercontent.com/15910173/60762070-a7d71380-a057-11e9-9f86-cb6d0b770001.png)

[2019-07-06 23:43] #60 closed, assigned to nobody

[2019-07-24 08:53] nesnoj opened #78 "Get rid of highcharts js"
As discussed yesterday, the highcharts src must be removed from repo as it conflicts with GPL:
[code]
([source](https://shop.highsoft.com/faq))

I do not like using external 3rd-party scripts as it 1) slows down the page, 2) can introduce malware etc. and 3) allows this party to track the usage. But I don't have a better solution right now.

I [replaced](https://github.com/rl-institut/WAM_APP_stem

[2019-07-29 10:06] christian-rli opened #79 "WAM log error for files with unique path"
I had a look into the wam-logs for a different issue and saw that there are warnings for files in FredApp that are supposedly there twice. I'm rather sure that I only put them into one location. Maybe the error message is misleading? @nesnoj @henhuy perhaps you know more about this. If not, it's just fyi :)

[code]

[2019-07-30 04:13] nesnoj commented on #79
Yes, I encountered this error but haven't solved it. So I'd be quite happy if someone came up with a solution :)
As @henhuy implemented the static file loading he might knows how to fix it?

[2019-08-14 08:06] nesnoj commented on #76
i18n is supported by django and should be used in the WAM. The required middleware was enabled in #80.
It is currently tested and implemented in StEmp ABW by @4lm, cf. https://github.com/rl-institut/WAM_APP_stemp_abw/issues/72. As soon as this works, we can use it as a blueprint for the WAM.

[2019-08-14 10:44] nesnoj commented on #56
Any progress here @henhuy ?

[2019-08-26 08:11] nesnoj opened #81 "README.md is outdated"
The README.md should be updated:
- [x] Remove Foundation stuff (or is this still needed?)
- [x] Add short description
- [x] Links to RTD docs, WAM-pages
- [x] Add zenodo badge (as soon as WAM was uploaded there)
- [x] Add license

[2019-08-27 15:50] nesnoj commented on #78
Every second attempt to use [StEmp ABW](https://wam.rl-institut.de/stemp_abw/app/), the entire page **lags or does not even show up (waiting for..)** due to the external loading!
It's really annoying...

[2019-08-29 11:29] henhuy commented on #78
Ideas?

[2019-08-29 11:30] henhuy commented on #81
Good idea!
Foundation stuff is not needed.

[2019-08-30 11:00] nesnoj commented on #78
As just discussed on the phone, an alternative way is to
- completely remove the HC js from WAM
- keep the HC js files - completely independent from the WAM - somewhere on our webserver (with WAM IP access restriction) and obtain the files in the tools via https
- add a config var which determines the files source (highcharts server or own server) or
**even better**: tool checks if it's running on

[2019-09-02 09:25] nesnoj opened #83 "Markdownx extensions not supported"
WAM uses `django-markdownx` (which uses `markdown`) for md support in [reveal widget](https://github.com/rl-institut/WAM/blob/dd73f2ff5e8ec41d68cb3c44d231bbdfa4eacf2c/utils/widgets.py#L36).
Out-of-the-box it does not support special features like tables and footnotes but can be enabled using [extensions](https://python-markdown.github.io/extensions/#officially-supported-extensions).
However, the w

[2019-09-03 19:19] #83 closed, assigned to nesnoj

[2019-09-03 20:45] nesnoj commented on #78
Due to lack of time I cannot implement this. What about you @henhuy?
If not, I'd skip it for now

[2019-09-04 16:13] nesnoj commented on #78
As soon as you switched to external HC (commit in StEmp ABW: https://github.com/rl-institut/WAM_APP_stemp_abw/commit/0d3208014c24c4405d61302e7c2deeec9acf9d79), feel free to merge #85 and close this issue.

[2019-09-05 13:41] nesnoj commented on #78
The described lags seem to be browser-related.
I like the local solution above but due to low priority I'll close this issue. Feel free to reopen if needed.

[2019-09-05 13:41] #78 closed, assigned to nesnoj, henhuy

[2019-09-05 16:18] nesnoj opened #86 "Add identifier to sources in meta app"
As discussed f2f with @henhuy, there's a problem with the source ids in meta app:

When I create sources locally, they get an auto id (postgres serial) in my local DB which can be equal to an existing (different) one in the WAM DB.
In StEmp ABW we reference sources by those ids ([example](https://github.com/rl-institut/WAM_APP_stemp_abw/blob/28150e5ad0e25e5a3c292f1bc6f1a3c8436b0782/locale/de/layer

[2019-09-11 14:19] 4lm commented on #76
Hi all,

we implemented i18n in stemp_abw and it works. But there seems to be a drawback. We have to define a default language via the constant LANGUAGE_CODE, which lives in wam.settings. We define this constant in our app specific settings.py  (see this commit: https://github.com/rl-institut/WAM_APP_stemp_abw/commit/da72dd9d1c26966d125e8425a90613a6ad669e2e), which is imported as global project se

[2019-09-11 15:02] 4lm commented on #76
#74 seems to be a good place

[2019-09-11 15:04] nesnoj commented on #76
Yes, this is a critical problem indeed. A major restructuring as you proposed is a clean solution but this raises heaps of other questions and, most important, we would need a lot of time...

a) Instead of setting a default language in the app-specific settings.py, we agree on a WAM-wide default language (DE or EN) which must be supported by all(!) apps. (the setting of the default language in an

[2019-09-13 07:35] nesnoj opened #88 "Release v0.1.3"
As the UNECE event is going to take place on Sep 25th, I'll prepare a new StEmp ABW release next week #87. To make it work - esp. i18n - a WAM release is required.

If you don't have objections @Bachibouzouk @christian-rli @henhuy, I'll release v0.1.3 at the beginning of next week (I'll review and integrate #82 before).

Is there anything else you want to have released?

[2019-09-13 08:27] henhuy commented on #88
Just checked it out and tested my app - I'm fine!

[2019-09-16 13:00] christian-rli commented on #88
Just checked as well. No objections from my end.

[2019-09-16 17:20] nesnoj commented on #88
@henhuy, last week you said that you recently updated the WAM install docs in StempMV. Could you amend the WAM install docs accordingly for this release?

**EDIT:** Postponed

[2019-09-17 09:11] nesnoj commented on #88
This waits for #89 and the new BMBF logo in StEmp MV @henhuy

[2019-09-17 09:14] nesnoj commented on #47
Fixed in #82 :rocket:

[2019-09-17 09:14] #47 closed, assigned to nesnoj

[2019-09-17 09:14] henhuy commented on #88
I just add it...

[2019-09-17 09:17] nesnoj commented on #49
API docs fixed in #82, release via PYPI discontinued. I'll close this one, please reopen if needed.

[2019-09-17 09:17] #49 closed, assigned to nobody

[2019-09-17 09:48] nesnoj commented on #56
**Update:**

Instead of using
`icon = 'img/app_stemp_abw_icon.png'`
you can simply use an icon file from the app's static files like
`icon = 'stemp_abw/img/app_stemp_abw_icon.png'`
since they are loaded by the WAM.

Too easy. [Changed this in my app](https://github.com/rl-institut/WAM_APP_stemp_abw/commit/ff64e6515ad84778fbc9d271a496b7c5557ce04f)

@henhuy I remove the app icons from the [WAM img f

[2019-09-17 14:24] henhuy opened #91 "Restructuring of app settings and config"
From WAM-meeting:
Too many setting files (app.cfg, app_settings.py & settings.py)
Idea:
- one config-folder (app_config/) with single app_settings.py
- params from app.cfg as dict into app_config/app_settings.py
- INSTALLED_APPS from settings into app_settings
- Load only INSTALLED_APPS into wam while wam/settings.py
- Centralize settings needed by apps (no setting-overriding in app/settings.py) i

[2019-09-17 20:52] #56 closed, assigned to nobody

[2019-09-17 21:30] nesnoj commented on #76
@4lm, we decided for 'de-DE' as default language, as u can see in the commits above I adjusted WAM & StEmp ABW accordingly. Seems to work :+1:.
Anything I overlooked?

**EDIT:** See also: https://github.com/rl-institut/WAM_APP_stemp_abw/issues/72#issuecomment-532606962

[2019-09-18 09:14] #81 closed, assigned to nobody

[2019-09-19 16:30] nesnoj commented on #88
Done.
Thanks for contributing! :tada:

[2019-09-19 16:30] #88 closed, assigned to nesnoj

[2019-09-19 16:36] nesnoj commented on #76
Ok, i18n is working now.
This issue should be kept open until there's a general i18n support for wam pages (e.g. utils -> feedback form).

[2019-09-20 06:50] henhuy commented on #88
Nice work! Thank you very much @nesnoj

[2019-09-20 09:22] nesnoj commented on #22
I take your silence as approval ;) and close this one...

[2019-09-20 09:22] #22 closed, assigned to nobody

[2019-09-20 09:55] nesnoj opened #94 "Develop workflow for common meta DB tables"
The following meta app tables are used by different apps:
- meta_assumption
- meta_category
- meta_source

When updating the WAMdev/prod, the only thing that doesn't get updated are the DB tables. While app tables are updated by the responsible app admin, common tables are not.
Over the time, the content of those tables diverged which is an annoying problem. We have to make sure the content always

[2019-09-26 16:26] nesnoj commented on #94
@henhuy, if you don't mind I'll update the sources and category tables on WAMprod manually by tomorrow as I need them for StEmp ABW v1.0

[2019-09-27 07:27] henhuy commented on #94
What do you mean by manually?
Changing ids in table?
For me it's okay. Didn't have time for #86 yet...

[2019-09-27 08:13] nesnoj commented on #94
Yepp, our sources are stored on WAMdev, I'll manually add them to WAMprod.
Can I kick all of your sources on WAMdev? They seem outdated to me and you have the latest list on WAM, right?

Nevermind, just keep in mind that StEmp ABW must be modified too if you implement #86..

[2019-09-27 08:27] henhuy commented on #94
No problem.

For sure

[2019-09-27 08:46] nesnoj commented on #94
@henhuy There're 2 categories "Warmwasser" on WAMprod, I'll delete the one which is not referenced by your sources or assumptions..

[2019-09-27 09:15] henhuy commented on #94
remove it. I'm going to reset my assumptions and sources anyway...

[2019-09-27 11:08] nesnoj commented on #94
I updated the meta tables on WAMdev+WAMprod, they are now in sync!
Please use the COC above for future work.
I backupped the current state on the WAM server to `/backup/WAM_meta_tables_190927/`

[2020-04-06 15:03] nesnoj opened #100 "Ghostery replaces Mapbox token"
WAM apps which include mapbox tiles (FRED+ABW) use a token for authentication which is modified by the browser extension Ghostery to https://api.mapbox.com/[...]?access_token=ghostery. This results in responses like "...status of 401 (Unauthorized)" and tiles aren't loaded.

This bug is quite annoying, especially because you're not informed but the tiles are just not showing up. Not sure how many

[2020-04-07 07:46] christian-rli commented on #100
I don't normally use ghostery (i'm using ublock origin, which I can recommend), but I installed it into my firefox. Tiles load without any issues.

[2020-04-07 13:24] nesnoj commented on #100
As this seems very system specific and probably does not affect many users, I close this one.

[2020-04-07 13:24] #100 closed, assigned to nobody

[2020-06-09 13:47] nesnoj opened #104 "Make installation more failsafe / specify package versions"
To reduce the risk of API breaks etc. with new versions of external packages (specified in requirements of WAM+Apps)
- Specify (upper?) bounds for required packages
- consider [pip-tools](https://github.com/jazzband/pip-tools) for package management

[2020-07-16 10:35] henhuy opened #105 "Custom app urls are neglected"
I just found out that only WAM reverse matches are valid as urls on landing page.
I wrote an PR to change that.
Now at first, reverse match is tried, otherwise given url is used...

Thereby, I stumbled upon an additional `url_arg` which can be passed as config parameter and was used to build the url in template like this:
[code]
Can't rember why? Can't find any app which is using it?!
But I tried

[2020-07-16 12:56] henhuy opened #107 "WAM-Server error due to removed enum in PyUtilib package"
oemof depends on pyomo <= 5.5, pyomo depends on PyUtilib >= 5.6.3
But in newer versions of PyUtilib an enum class was removed, but pyomo does not now that.
So we have to nail PyUtilib to 5.6.3 in order to fix error.

[2020-07-17 07:27] #107 closed, assigned to henhuy

[2020-08-13 08:53] #105 closed, assigned to henhuy